/* Header
--------------------------------------------- */
header {
    background-color: navy;
    padding: 1rem;
}

.page-header {
    position: relative;
    text-align: center;
    overflow: hidden;
}

.page-header img {
    width: 100%;
    height: 35rem; 
    object-fit: cover;
}

.page-header h1 {
    font-size: 3rem;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
}


/* Main
--------------------------------------------- */


/* Footer
--------------------------------------------- */
footer {
    text-align: center;
    color: #ffffff;
    background-color: navy;
    padding: .5rem;
}


.footer-links a {
    font-size: 2rem;
    margin: 1rem;
    color: #ffffff;
}

#back-to-top a {
    font-size: 3rem;
}