/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body {
	font-family: 'Lato', sans-serif;
    font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #282828;
	background-color: #ffffff;
    text-align: center;
    margin: 0;
}

h1 {
	font-size: 3rem;
}

/* Elements
--------------------------------------------- */

/* Links
--------------------------------------------- */
a {
	color: #ffffff;
}

a:visited {
	color: #D1D9E0
}

a:hover {
	background-color: #ffffff;
	color: #000080;
}


/* header */

header {
    background-color: #000080;
    padding: 1rem;
	margin: auto;
}

header img {
	max-width: 4rem;
	height: auto;
}

nav {
	margin-top: 1rem;
	margin-bottom: .5rem;
	font-size: 1rem;
	position: relative;
	white-space: nowrap;

}

nav a {
	text-decoration: none;
	padding: 0.5rem;
	border-right: 1px solid #ffffff;

}

nav a:last-child {
	border-right: none;
}

@media screen and (min-width: 1024px) {
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 2rem;
	}
}

@media screen and (min-width: 1440px) {
	header nav {
		font-size: 1.5rem;
	}
}

/* Footer
--------------------------------------------- */
footer {
    text-align: center;
    color: #ffffff;
    background-color: #000080;
    padding: .5rem;
	max-width: 100%;
}


.footer-links a {
    font-size: 2rem;
    margin: 1rem;
    color: #ffffff;
}

#back-to-top a {
    font-size: 3rem;
}